:root {
    --v-item-gutter-v: 24px;
    --v-item-gutter-h: 16px;
    --v-accent-bright-green: #61c230;
    --v-header-size: 56px;
}

/* Text colors */
.featuredHeadline,
.smallHeadline,
.feedTitle,
.storyText {
    color: #000
}

.date {
    color: var(--v-secondary-base);
    flex-shrink: 0;
}

.topic,
.topic.featured {
    color: var(--v-secondary-base) !important;
}

/* End colors */

.topic {
    margin-bottom: .2rem;
    text-transform: uppercase;
}

.pullquote {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #535353;
    text-align: center;
    font-family: var(--v-theme-quote-font), var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    line-height: var(--v-theme-title-featured-line-height);
}


.itemDateAndCredit {
    display: flex;
    flex-direction: column;
}


.imageCredit {
    color: var(--v-secondary-base);
    flex: 1 1 100px;
    text-align: right;
}

.itemList:last-child {
    margin-bottom: calc(50px + var(--v-item-gutter-v)) !important;
}

/* Item margins */
.item1col,
.item1coltitle,
.item2colleft,
.item2colright {
    margin: 0px;
}

/* Item paddings, t,r,b,l */
/* Note: the 4px dimension below is because for 1 col items, the bottom of the image is actually 4px
above the bottom of the view (to make the date fit properly). We want to compensate for that, so
subtract 4 px from the padding */
.item1col {
    padding: 1.5rem var(--v-item-gutter-h) 0 var(--v-item-gutter-h);
}

.item2colleft {
    padding: var(--v-item-gutter-v) calc(var(--v-item-gutter-v) / 3) 4px var(--v-item-gutter-h);
}

.item2colright {
    padding: var(--v-item-gutter-v) var(--v-item-gutter-h) 4px calc(var(--v-item-gutter-v) / 3);
}

.item1coltitle {
    /*
    Column title paddings is handled inside ItemCategoryTitle.vue.
    padding: 60px var(--v-item-gutter) var(--v-item-gutter) var(--v-item-gutter);
    */
    padding: 0;
}

.item1coltitlecategory {
    /* Add extra padding to top */
    padding: var(--v-item-gutter-v) 0 0 0;
}

.itemPlayButton {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.itemPlayButtonIcon {
    filter: drop-shadow(1px 1px 1.5px #2d2d2d7c);
   
}

.itemPlayButtonLarge {
    width: 46px;
    height: 46px;
    background-color: transparent;
}

.itemPlayButtonLarge .v-btn__content svg {
    width: 44px !important;
    height: 44px !important;
}

.settingsCategory {
    color: black;
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-featured-line-height);
}

.settingsSmallFontA {
    font-size: 12px;
}

.settingsLargeFontA {
    font-size: 20px;
}

.appVersionText {
    text-align: center;
    color: #e2e2e2;
}

.smallHeadline.scaled {
    font-size: var(--v-theme-title-font-size-scaled);
    line-height: var(--v-theme-title-line-height-scaled);
}

.featuredHeadline6lines {
    max-height: calc(6 * var(--v-theme-title-featured-line-height));
    overflow: hidden;
}

.smallHeadline1line {
    max-height: var(--v-theme-title-line-height-px);
    overflow: hidden;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
}

.smallHeadline2lines {
    max-height: calc(2 * var(--v-theme-title-line-height-px));  
    overflow: hidden;
}

.smallHeadline3lines {
    max-height: calc(5 * var(--v-theme-title-line-height-px));
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.smallHeadline4lines {
    max-height: calc(4 * var(--v-theme-title-line-height-px));
    overflow: hidden;
}

.storyText.noscale {
    font-size: var(--v-theme-font-size);
    line-height: var(--v-theme-line-height);
}

.storyText1line {
    max-height: var(--v-theme-line-height-scaled);
    overflow: hidden;
}

.storyText2lines {
    max-height: calc(2 * var(--v-theme-line-height-scaled));
    overflow: hidden;
}

.line-clamp2lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.listTitle {
    font-size: var(--v-theme-title-featured-font-size);
    line-height: var(--v-theme-title-story-line-height);
    font-weight: bold;  
}

.listDescription{
    font-size: calc(.8 * var(--v-theme-font-size));
    line-height: var( --v-theme-description-featured-line-height);
}

.podTitle {
    word-break: keep-all;
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    font-weight: bold;  
    line-height: 1.2;
}

.podimg {
    border-radius: 6px;
}