/* Blur hilight on button on mobile */

.v-btn:hover:before,
.v-input--selection-controls
    .v-input--selection-controls__input:hover
    .v-input--selection-controls__ripple::before {
    background: -color transparent !important;
}

.v-btn::before {
    background-color: transparent !important;
}

/* When in full screen video, set background to black */
body.fullscreenVideo {
    background-color: black;
}

/* Vuetify sets this to 0.54 for some reason! */
.theme--light.v-icon {
    opacity: 1;
}

.v-application {
    font-family: var(--v-theme-font);
    line-height: var(--v-theme-line-height);
}

.v-btn.x-large-button {
    width: 70px !important;
    height: 70px !important;
}

.v-btn.x-large-button .v-icon {
    width: 48px !important;
    height: 48px !important;
}

.v-btn.large-button {
    width: 60px !important;
    height: 60px !important;
}

.v-btn.large-button .v-icon {
    width: 40px !important;
    height: 40px !important;
}

.v-btn.medium-button {
    width: 48px !important;
    height: 48px !important;
}

.v-btn.medium-button .v-icon {
    width: 24px !important;
    height: 24px !important;
}

.v-btn.small-button {
    width: 32px !important;
    height: 32px !important;
}

.v-btn.small-button .v-icon {
    width: 16px !important;
    height: 16px !important;
}

.v-btn.tiny-button {
    width: 18px !important;
    height: 18px !important;
}

.v-btn.tiny-button .v-icon {
    width: 14px !important;
    height: 14px !important;
}

.v-icon.tiny {
    width: 12px !important;
    height: 12px !important;
}

.v-icon.small {
    width: 18px !important;
    height: 18px !important;
}

/* Used for vertically centering spans */
span.verticalCenter {
    display: inline-block;
    vertical-align: middle;
}

.listDivider {
    height: 1px;
    border-bottom: 1px solid #d8d8d8;
}

.mediaDurationText {
    color: var(--v-secondary-base);
    font-size: var(--v-theme-date-font-size);
}

/* Change slider thumb sizes */
.v-slider__thumb:after {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    content: "";
    color: inherit;
    width: 400%;
    height: 400%;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    left: -150%;
    top: -150%;
}

.v-slider__thumb:before {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    content: "";
    color: inherit;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background: currentColor;
    opacity: 0.3;
    position: absolute;
    left: -50%;
    top: -50%;
    transform: scale(0.1);
    pointer-events: none;
}

.contact-email-title,
.contact-phone-title,
.contact-web-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.v-slider__thumb {
    padding-left: 5px;
}
