:root {
    --v-theme-font: 'Monlam Uni Ouchan2', 'MerriweatherSans', sans-serif;
    --v-theme-font-size: 35px;
    --v-theme-line-height: 1.0;
    --v-theme-title-font-size: 30px;
    --v-theme-title-line-height: 1.0;
    --v-theme-title-featured-font-size: 40px;
    --v-theme-title-featured-line-height: 1.0;
    --v-theme-description-font-size: 26px;
    --v-theme-title-story-font-size: 36px;
    --v-theme-title-story-line-height: 1.133;
    --v-theme-description-featured-line-height: 1.0;
    --v-theme-date-font-size: 20px;
    --v-theme-currentlyPlaying-font-size: 22px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 400;
    line-height: var(--v-theme-title-featured-line-height);
}
.storyHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-story-font-size);
    font-weight: 800;
    line-height: var(--v-theme-title-story-line-height);
}

.featuredDescription {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-description-font-size);
    line-height: var(--v-theme-description-featured-line-height);
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 400;
    line-height: var(--v-theme-title-line-height);
}

.date,
.feedTitle,
.topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 30px;
    line-height: 1;
}
.currentlyPlayingTitle {
    font-size: var(--v-theme-currentlyPlaying-font-size);
    max-height:calc(.6 * var(--v-theme-title-font-size));
}
