:root {
    --v-theme-font: 'Microsoft YaHei', 'MerriweatherSans', sans-serif;
    --v-theme-font-size: 14px;
    --v-theme-line-height: 1.7;
    --v-theme-title-font-size: 15px;
    --v-theme-title-line-height: 1.5;
    --v-theme-title-featured-font-size: 20px;
    --v-theme-title-featured-line-height: 1.5;
    --v-theme-title-story-font-size: 36px;
    --v-theme-title-story-line-height: 1.25;
    --v-theme-description-featured-line-height: 1.5;
    --v-theme-date-font-size: 12px;
    --v-theme-currentlyPlaying-font-size: 13px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-featured-line-height);
}
.storyHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-story-font-size);
    font-weight: bold;
    line-height: var(--v-theme-title-story-line-height);
}

.featuredDescription {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size);
    line-height: var(--v-theme-description-featured-line-height);
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-line-height);
    letter-spacing: 0.5px;
}

.date, .feedTitle, .topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 400;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
    font-weight: 400;
    letter-spacing: 0.5px;
}

.topic {
    font-weight: 700;
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 18px;
    line-height: 1;
}

.currentlyPlayingTitle {
    font-size: var(--v-theme-currentlyPlaying-font-size);
    max-height:calc(1.6 * var(--v-theme-title-font-size));
}