:root {
    --v-theme-font: 'MerriweatherSans', 'AlpidaUnicodeSystem', sans-serif;
    --v-theme-font-size: 17px;
    --v-theme-line-height: 1.5;
    --v-theme-title-font-size: 20px;
    --v-theme-title-line-height: 1.2;
    --v-theme-title-featured-font-size: 25px;
    --v-theme-title-featured-line-height: 1.3;
    --v-theme-description-featured-line-height: 1.25;
    --v-theme-title-story-font-size: 30px;
    --v-theme-title-story-line-height: 1.133;
    --v-theme-date-font-size: 12px;
    --v-theme-currentlyPlaying-font-size: 13px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-featured-line-height);
}
.storyHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-story-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-story-line-height);
}

.featuredDescription {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size);
    line-height: var(--v-theme-description-featured-line-height);
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-line-height);
}

.date, .feedTitle, .topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 22px;
    line-height: 1;
}

.currentlyPlayingTitle {
    font-size: var(--v-theme-currentlyPlaying-font-size);
    max-height:calc(1 * var(--v-theme-title-font-size));
}