:root {
    --v-theme-font: 'Open Sans', sans-serif;
    --v-theme-font-size: 18px;
    --v-theme-line-height: 1.618;
    --v-theme-title-font-size: 18px;
    --v-theme-title-line-height: 1.15;
    --v-theme-title-featured-font-size: 25px;
    --v-theme-title-featured-line-height: 1.25;
    --v-theme-title-story-font-size: 30px;
    --v-theme-title-story-line-height: 1.133;
    --v-theme-date-font-size: 12px;
    --v-theme-currentlyPlaying-font-size: 13px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-featured-line-height);
}
.storyHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-story-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-story-line-height);
}

.featuredDescription{
    line-height: var(--v-theme-title-featured-line-height);
    font-family: var(--v-theme-font);
    font-weight: 300
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-line-height);
}

.date, .feedTitle, .topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 22px;
    line-height: 1;
}
.currentlyPlayingTitle {
    font-size: var(--v-theme-currentlyPlaying-font-size);
}