:root {
    --v-theme-font: 'Be Vietnam Pro', sans-serif;
    --v-theme-font-size: 16px;
    --v-theme-line-height: 1.4;
    --v-theme-title-font-size: 16px;
    --v-theme-title-line-height: 1.3;
    --v-theme-title-featured-font-size: 24px;
    --v-theme-title-featured-line-height: 1.25;
    --v-theme-title-story-font-size: 30px;
    --v-theme-title-story-line-height: 1.133;
    --v-theme-description-featured-line-height: 1.33;
    --v-theme-date-font-size: 11px;
    --v-theme-currentlyPlaying-font-size: 13px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-featured-line-height);
}
.storyHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-story-font-size);
    font-weight: 800;
    line-height: var(--v-theme-title-story-line-height);
}

.featuredDescription{
    line-height: var(--v-theme-description-featured-line-height);
    font-family: var(--v-theme-font);
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: 700;
    line-height: var(--v-theme-title-line-height);
}

.date, .feedTitle, .topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
}
.storyText figcaption {
    line-height: var( --v-theme-title-featured-line-height);
    margin-top: 6px;
}
.topic {
    font-weight: 700;
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 18px;
    line-height: 1;
}

.currentlyPlayingTitle {
    font-size: var(--v-theme-currentlyPlaying-font-size);
}
