:root {
    --v-theme-font: 'Noto Sans CJK TC', 'MerriweatherSans', sans-serif;
    --v-theme-font-size: 17px;
    --v-theme-line-height: 1.7;
    --v-theme-title-font-size: 17px;
    --v-theme-title-line-height: 1.25;
    --v-theme-title-featured-font-size: 24px;
    --v-theme-title-featured-line-height: 1.3;
    --v-theme-description-featured-line-height: 1.3;
    --v-theme-date-font-size: 12px;
    --v-theme-currentlyPlaying-font-size: 13px;
}

.featuredHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: bold;
    line-height: var(--v-theme-title-featured-line-height);
    letter-spacing: 1.5px;
}

.storyHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-featured-font-size);
    font-weight: bold;
    line-height: var(--v-theme-title-featured-line-height);
    letter-spacing: 1.5px;
}

.featuredDescription {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size);
    line-height: var(--v-theme-description-featured-line-height);
}

.smallHeadline {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-title-font-size);
    font-weight: bold;
    line-height: var(--v-theme-title-line-height);
    letter-spacing: 0.5px;
}

.date, .feedTitle, .topic {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-date-font-size);
    line-height: 1.25;
    letter-spacing: 1px;
    font-weight: 300;
}

.storyText {
    font-family: var(--v-theme-font);
    font-size: var(--v-theme-font-size-scaled);
    line-height: var(--v-theme-line-height-scaled);
    font-weight: 300;
}

.topic {
    font-weight: bold;
}

.topicTitle {
    font-family: var(--v-theme-font);
    font-size: 18px;
    line-height: 1;
}

.currentlyPlayingTitle {
    font-size: var(--v-theme-currentlyPlaying-font-size);
    max-height:calc(1.2 * var(--v-theme-title-font-size));
}